@import 'nib/vendor'
@import 'nib/gradients'

vendor-prefixes = o ms moz webkit official

gris_claro = #818181
gris_oscuro = #333
rojo = #BD2558
gris_mas_claro = #F0F0F0
gris_metal = #dfdfdf

section.content
  margin 5em 2em

.navbar-default
  background-image linear-gradient(top, white, gris_metal)